<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FizzBuzz Mini-Sprint</title>
	<link rel="stylesheet" href="../css/fizzbuzz.css">
</head>
<body>
	<div id="fizz-buzz"></div>
		
	<div id="user_data">
		<label  for="input_x">Add a number x: </label><input type="text" id="first_multiple" name="name" value="" /><br>
		<label  for="input_y">Add a number y: </label><input type="text" id="second_multiple"  name="name" value=""><br>
		<label  for="input_a">Add a word to replace FIZZ: </label><input type="text" id="fizz" name="name" value="" ><br>
		<label  for="input_b">Add a word to replace BUZZ: </label><input type="text" id="buzz" name="name" value="" ><br>
		<label  for="input_c">Add a word to replace FIZZBUZZ: </label><input type="text" id="fizzbuzz" name="name" value="" >	
		<button type="submit">Submit</button>
	</div>	

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="../js/fizzbuzz.js"></script>
</body>
</html>