<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Objects</title>
</head>
<body>
	<div id="color"></div>
	<div id="primitive_data_types"></div>	
	<div id="array_values">
		<strong>Array Values</strong>
	</div>	
	<div id="name">
	 <p>The name is </p>
	</div>
	<div id="location"></div>
	<div id="dogs"></div>
	<script src="https://code.jquery.com/jquery-2.1.1.js"></script>	
	<script src="../js/objects_1.js"></script>
	<script src="../js/objects_2.js"></script>	
</body>
</html>
